*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.container, .book-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 100%;
	height: 100vh;
	background: -webkit-linear-gradient(90deg, #785a7d,#7332a4,#2603d7);
	background: linear-gradient(90deg, #785a7d,#7332a4,#2603d7);
.book-content{
	width: 65%;
	min-width: 250px;
	max-width: 400px;
	height: 330px;
	position: relative;
	perspective: 1000px;
	transition: 1s;
}
.book{
	position: absolute;
	width: 65%;
	height: 100%;
	transition: 1s;
	transform-style: preserve-3d;
	transform-origin: left;
}
.face-front, .face-back{
	width: 100%;
	height: 100%;
	background: #fffcf5;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
}
.face-front{
	box-shadow: inset 3px 0px 20px -7px black;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.face-back{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-1px) rotateY(180deg);
	box-shadow: inset -3px 1px 20px -7px black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;


}
#portada{
	background: url('../img/jkr.png');
}
#portada-back{
	background: url('../img/contraportada.png');
}
#portada, #portada-back{
	background-size: 100% 100%;
}

/* Clases que se agregaran con Javascript */

.trnsf{
	transform: translateX(80px);
}
.trnsf-reset{
	transform: translateX(0px);
}

/* @media para hacer el texto responsivo */

@media screen and (max-width: 800px){
	p{
		font-size: 12px;
	}
}


h1 {
            font-family: 'Playfair Display', serif;
            font-size: 2.2rem;
            text-align: center;
            color: #8b5a5a;
            margin: 40px 0 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e8d7d7;
            letter-spacing: 1px;
            font-weight: 500;
        }
        
p {
            font-size: 0.8rem;
            text-align: justify;
            margin-bottom: 25px;
            color: #444;
            text-indent: 0.8em;
			margin-left: 10px;
			margin-right: 10px;

		
        }

.img-intro{
			display: block;
			margin: 0 auto;
			padding: 0 auto;
			width: 170px;
			height: 170px;
			border-radius: 10px;
			margin-top: 20px;
		}

.h1-special{
	font-family: 'Playfair Display', serif;
    font-size: 1.7rem;
    text-align: center;
    color: #8b5a5a;
    margin: 40px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8d7d7;
    letter-spacing: 1px;
    font-weight: 500;
}